<p id="notice"><%= notice %></p>
<div class="wrapper">
  <div class="main">
    <div class="header">
      <h1>Worlds</h1>
    </div>

      <ul>
        <% @worlds.each do |world| %>
          <li>
            <%= link_to world.title, world %>
          </li>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="sidebar">
    <h2>Expanding Horizons</h2>
    <aside>
      listed here are currently the <%= @worlds.count%> world that I and others have created. 
    </aside>
  </div>
    <br>
  <footer>
    <%= link_to 'New World', new_world_path %>
    <%= link_to "Home", root_url %>
  </footer>
</div>
